<div class="row">
  <div class="span6" style="text-align:center">
    <p>
    	Have you ever prepared talking points and had issues keeping your stack of index cards in order? Or given a speech and looked down to find out that your bullets are too small to read, out of order, or too hard to follow? We aimed to solve these very issues with AutoFlip. AutoFlip is a virtual notecard app that utilizes various technologies, including cloud computing and voice recognition to always have the most recent and relevant point for you to glance down at.
    </p>
    <a href="http://www.shailshetye.x10.mx/AutoFlipFinal.apk">
      <button type="button" class="btn btn-primary btn-lg">Get AutoFlip</button>
    </a>
  </div>
</div>
